{% extends 'base.html' %}
 
{% block title %}  About Us {% endblock title %}

{% block body %}


<div class="container-fluid" 
style="text-align:center; background-color: #FFCC00;">

<div class="" style="text-align:center; background-color:; py-1">
<div class="rich-text color-accent-1 gradient rich-text--full-width">
  <div class="rich-text__blocks" style="color: #117b33; py-1"><h2 class="h2" >SPREADING HAPPINESS THROUGH HEALTHY DESSERTS</h2><div class="rich-text__text rte" ><p>Say hello to NOTO: that brings healthy, low-calorie icecreams and mithais with zero added sugar to the millennial Indian with an incurable sweet tooth. It’s good-for-you dessert that you can binge on, guilt free... and not just on cheat days.<br/><br/>NOTO was born to revolutionize the way people consume sweets. It’s a common myth that if it’s easy on the calories, it’s not going to satiate those taste buds - we aim to disrupt this misconception ONE DESSERT AT A TIME!</p></div></div>
</div>
</div>


</section><div id="shopify-section-template--14611993362484__1663751882070a02d2" class="shopify-section spaced-section spaced-section--full-width"><link href="//eatnoto.com/cdn/shop/t/28/assets/component-image-with-text.css?v=181526498732458875371645514090" rel="stylesheet" type="text/css" media="all" />

<div class="image-with-text page-width color-scheme-background-1">
<div class="image-with-text__grid color-background-1 grid grid--gapless grid--1-col grid--2-col-tablet gradient">
  <div class="grid__item">
    <div class="image-with-text__media image-with-text__media--adapt media"
       style="text-align:center; background-color: #CC3366;"
    ><img style="border: 5px solid #555;"
          srcset="//eatnoto.com/cdn/shop/files/13082020_Noto-19156_5d9c30a3-8454-493f-b728-b1cfb67d602e_165x.jpg?v=1663752323 165w,//eatnoto.com/cdn/shop/files/13082020_Noto-19156_5d9c30a3-8454-493f-b728-b1cfb67d602e_360x.jpg?v=1663752323 360w,//eatnoto.com/cdn/shop/files/13082020_Noto-19156_5d9c30a3-8454-493f-b728-b1cfb67d602e_535x.jpg?v=1663752323 535w,//eatnoto.com/cdn/shop/files/13082020_Noto-19156_5d9c30a3-8454-493f-b728-b1cfb67d602e_750x.jpg?v=1663752323 750w,//eatnoto.com/cdn/shop/files/13082020_Noto-19156_5d9c30a3-8454-493f-b728-b1cfb67d602e.jpg?v=1663752323 1000w"
          src="//eatnoto.com/cdn/shop/files/13082020_Noto-19156_5d9c30a3-8454-493f-b728-b1cfb67d602e_1500x.jpg?v=1663752323"
          sizes="(min-width: 1600px) 750px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
          alt=""
          loading="lazy"
          width="500"
          height="500"
        ></div>
  </div>
  <div class="grid__item">
    <div class="image-with-text__content image-with-text__content--adapt"  style="background-color: #FFCC33; color: #ea8420; "><h2 class="image-with-text__heading h1"  style="color: #ea8420;">
              low calorie, High protein
            </h2><div class="image-with-text__text rte" ><p>With each 125 ml tub including only 75-95 calories, 3 grams of fat, 75% less sugar and higher protein compared to regular ice creams; this sweet really is every kind of treat! </p><p>High-protein ice creams have seen a significant increase in popularity in the last few years. These ice creams are supposed to be healthier than your average pint, while still tasting just as good. And since many people are always on the lookout for delicious ice cream that is also diet-friendly, it's not surprising that high-protein options are quickly becoming top sellers.</p><p></p></div></div>
  </div>
</div>
</div>


</div><div id="shopify-section-template--14611993362484__166375247121c2ff70" class="shopify-section spaced-section spaced-section--full-width"><link href="//eatnoto.com/cdn/shop/t/28/assets/component-image-with-text.css?v=181526498732458875371645514090" rel="stylesheet" type="text/css" media="all" />

<div class="image-with-text page-width color-scheme-background-1">
<div class="image-with-text__grid color-background-1 grid grid--gapless grid--1-col grid--2-col-tablet gradient image-with-text__grid--reverse">
  <div class="grid__item">
    <div class="image-with-text__media image-with-text__media--adapt media"
       style="text-align:center; background-color: #CC3366;"
    ><img style="border: 5px solid #555;"
          srcset="//eatnoto.com/cdn/shop/files/3G7A4568_165x.jpg?v=1663752813 165w,//eatnoto.com/cdn/shop/files/3G7A4568_360x.jpg?v=1663752813 360w,//eatnoto.com/cdn/shop/files/3G7A4568_535x.jpg?v=1663752813 535w,//eatnoto.com/cdn/shop/files/3G7A4568_750x.jpg?v=1663752813 750w,//eatnoto.com/cdn/shop/files/3G7A4568.jpg?v=1663752813 1000w"
          src="//eatnoto.com/cdn/shop/files/3G7A4568_1500x.jpg?v=1663752813"
          sizes="(min-width: 1600px) 750px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
          alt=""
          loading="lazy"
          width="500"
          height="500"
        ></div>
  </div>
  <div class="grid__item">
    <div class="image-with-text__content image-with-text__content--adapt"  style="background-color: #FFCC33; color: #df3f61;"><h2 class="image-with-text__heading h1"  style="color: #df3f61;">
              FRUIT POPSICLES
            </h2><div class="image-with-text__text rte" ><p>If you are a fan of popsicles, then we has six flavours that are low-calorie and have <strong>ZERO added sugar</strong>! </p><p><br/>The flavours are made with 40% real fruit (unsweetened), apple<br/>concentrate (not the one that comes in a tetra pack), vitamin C and prebiotic fibre. <br/><br/>The selection includes flavours like - <strong>Strawberry Raspberry, Kala Jamun, Imli, Orange, Piña Colada</strong>, <strong>Mango Coconut and Kokum</strong></p><p></p><p></p></div></div>
  </div>
</div>
</div>


</div><div id="shopify-section-template--14611993362484__16637530224840057d" class="shopify-section spaced-section spaced-section--full-width"><link href="//eatnoto.com/cdn/shop/t/28/assets/component-image-with-text.css?v=181526498732458875371645514090" rel="stylesheet" type="text/css" media="all" />

<div class="image-with-text page-width color-scheme-background-1">
<div class="image-with-text__grid color-background-1 grid grid--gapless grid--1-col grid--2-col-tablet gradient">
  <div class="grid__item">
    <div class="image-with-text__media image-with-text__media--adapt media"
       style="text-align:center; background-color: #CC3366;"
    ><img style="border: 5px solid #555;"
          srcset="//eatnoto.com/cdn/shop/files/DSC06625_165x.jpg?v=1663753168 165w,//eatnoto.com/cdn/shop/files/DSC06625_360x.jpg?v=1663753168 360w,//eatnoto.com/cdn/shop/files/DSC06625_535x.jpg?v=1663753168 535w,//eatnoto.com/cdn/shop/files/DSC06625_750x.jpg?v=1663753168 750w,//eatnoto.com/cdn/shop/files/DSC06625.jpg?v=1663753168 1000w"
          src="//eatnoto.com/cdn/shop/files/DSC06625_1500x.jpg?v=1663753168"
          sizes="(min-width: 1600px) 750px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
          alt=""
          loading="lazy"
          width="500"
          height="500"
        ></div>
  </div>
  <div class="grid__item">
    <div class="image-with-text__content image-with-text__content--adapt"  style="background-color: #FFCC33; color: #117b33;"><h2 class="image-with-text__heading h1"  style="color: #117b33;">
              VEGAN FROZEN DESSERT
            </h2><div class="image-with-text__text rte" ><p>This line has all of our signature deliciousness but without DAIRY!<br/><br/><em><strong>Dairy free, ZERO Added Sugar, and made using Almond Protein</strong></em>, our newest range has five delightful flavours – Dark Chocolate, Mocha Almond, Pistachio, Salted Caramel and the unique Mango & Raspberry. <br/><br/>The perfect guilt free dessert for everyone following (or not) a vegan lifestyle.</p></div></div>
  </div>
</div>
</div>



</div><section id="shopify-section-template--14611993362484__16632371082bc17d88" class="shopify-section spaced-section spaced-section--full-width"><link rel="stylesheet" href="//eatnoto.com/cdn/shop/t/28/assets/component-rte.css?v=84043763465619332371645514100" media="print" onload="this.media='all'">
<link rel="stylesheet" href="//eatnoto.com/cdn/shop/t/28/assets/section-rich-text.css?v=43410417247505521801645514125" media="print" onload="this.media='all'">

<div class="">
<div class="rich-text color-accent-1 gradient rich-text--full-width">
  <div class="rich-text__blocks"><h2 class="h2" >A Paradise for dessert Lovers; NOTO Brings Forth delicious sweet treats with a healthy twist!</h2><div class="rich-text__text rte" ></div></div>
</div>
</div>

</div>
    {% endblock body %}